#container {
  text-align: center;
  -ms-text-justify: distribute-all-lines;
}

.box1,
.box2,
.box3,
.box4 {
  width: 200px;
  margin: 30px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-radius: 15px;
}

body {
  background-color: #222222;
}

#progress {
  color:rgb(224, 224, 224);
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.box3 {
  background: #ddad45
}

.box4 {
  background: rgb(81, 161, 226)
}

.box1 {
  background: rgb(226, 115, 81)
}

.box2 {
  background: rgb(81, 226, 105)
}

p, pre, h1, h2, a {
  font-family: sans-serif;
}

input {
  box-sizing: border-box;
  border: 1px solid rgb(192, 192, 192);
  background-color: #222222;
  border-radius: 4px;
  color: rgb(192, 192, 192);
}

textarea {
  box-sizing: border-box;
  border: 1px solid rgb(192, 192, 192);
  background-color: #222222;
  border-radius: 4px;
  color: rgb(192, 192, 192);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(192, 192, 192);
  opacity: 1; /* Firefox */
}

button {
  box-sizing: border-box;
  border: 1px solid rgb(192, 192, 192);
  background-color: #222222;
  color: rgb(192, 192, 192);
  border-radius: 4px;
}

button:hover {
  box-sizing: border-box;
  border: 1px solid #222222;
  background-color: rgb(192, 192, 192);
  color: #222222;
  border-radius: 1px;
  cursor:pointer;
}
